.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;

  padding: 40px 15% 60px 15%;

  gap: 30px;

  @media (max-width: 1280px) {
    padding: 40px 10% 60px 10%;
  }

  @media (max-width: 1024px) {
    justify-content: center;
    padding: 40px 5% 60px 5%;
  }

  .item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: calc(50% - 15px);
    max-width: 700px;

    background: rgba(51, 51, 51, 0.7);

    backdrop-filter: blur(20px);

    @media (max-width: 1024px) {
      width: 100%;
    }

    img {
      width: 100%;
    }

    .youtube {
      width: 100%;
    }

    .text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;

      padding: 10px;
      gap: 20px;

      .title {
        font-size: 24px;
        width: 100%;
        font-weight: 700;
        text-align: left;
      }

      .description {
        font-size: 18px;
        width: 100%;
        font-weight: 400;
        text-align: left;
        color: #dddddd;
      }
    }

    .date {
      width: 100%;
      padding: 10px;
      background: rgba(51, 51, 51, 0.5);
    }
  }
}
