header {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  padding: 20px 15%;

  background: rgba(51, 51, 51, 0.5);

  backdrop-filter: blur(20px);
  z-index: 2;

  @media (max-width: 1280px) {
    padding: 20px 10%;
  }

  @media (max-width: 1024px) {
    padding: 20px 5%;
  }

  nav {
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      margin: 0 10px;
    }
  }
}
