@import "fonts";
@import "header";
@import "intro";
@import "content";
@import "footer";

* {
  box-sizing: border-box;

  margin: 0;
  padding: 0;

  font-family: "Karla", sans-serif;
  color: #ffffff;

  border: none;
  outline: none;
}

a {
  text-decoration: none;
}

body {
  background: url("@/assets/img/flowers.webp");
  background-size: cover;
}
